.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#748d91, #1a4e8e 50%, #fff 50%, #fff 100%);
    position: absolute;
    top:10px;
    left:5px;
    /* flex-wrap: wrap;     */
  }
  
  .container {
    width: 450px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .container .box {
    margin-left:10px;
    position: relative;
    width: 420px;
    background:#fff;
    padding: 100px 40px 60px;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.1);
  }
  
  .container .box:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
   width: 100%;
   height: 100%;
   background:rgb(118, 53, 53);
   transform: scaleY(0);
   transform-origin: top;
   transition: transform 0.5s;
 }
 
 .container .box:hover:before {
   transform: scaleY(1);
   transform-origin: bottom;
   transition: transform 0.5s;
 }
 
 .container .box h2 {
   position: absolute;
   top: 5px;
   left: 60px;
   font-size: 4rem;
   font-weight: 800;
   z-index: 1;
   opacity: 0.5;
   transition: 0.5s;
   /* margin-bottom: 2px; */
 }
 
 .container .box:hover h2 {
   opacity: 1;
   color: #fff;
   transform: translateY(-40px);
 }
 
 .container .box h3 {
   position: relative;
   font-size: 1.5rem;
   z-index: 2;
   color: rgb(190, 118, 142);
   transition: 0.5s;
 }
 .bg2{
    position: absolute;
    top:600px;
    display:flex;
 }